### File extensions
*.pyc
*.tif
*.zip
*.7z
*.rar
*.pyo
*.tiff
*.code-workspace
*.checkpoit.ipynb

### Directories
.vscode
__pychache__
.idea/
.Rproj
.Rhistory
docs
Sphinx-docs

## Build files
.installed.cfg
build
bin
develop-eggs
dist
downloads
eggs
parts
*.egg-info
lib
lib64
.gitignore